body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  counter-reset: section;
}

h2 {
  font-weight: normal;
  font-size:1.5em;
  margin-bottom:.5em;
  border-bottom:1px solid #888;
  counter-reset: subsection;
}

h2::before {
  counter-increment:section;
  content:counter(section)" ";
  color: brown;
  font-style: italic;
}

h3::before {
  counter-increment: subsection;
  content: counter(section)"."counter(subsection)" ";
  color: orange;
  font-style: italic;
}

code {
  border: 1px solid black;
  border-radius: 4px;
  font-family:monospace;
  background: LightBlue;
  padding:.15em .25em
}

pre {
  font-family:monospace,monospace;
  border:1px solid #bdb;
  background:#dfd;
  padding:.5em;
  margin:1em;
}
