body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: linear-gradient(180deg, #191A1C);
  color: #BFBBB6;
  animation-name: lol;
  animation-duration: 3s;
}

@keyframes lol {
  0%{
    opacity: 0%;
  }
  100%{
  }
}

a {
  background: grey;
  color: white;
  padding: 0.3em;
  border-radius: 8px;
}

h1 {
  
}
